<footer class="footer-section">
    <!-- font-awesome cln -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <div class="container">  
        <div class="d-flex justify-content-between">
        <div class="footer-content pt-5 pb-5">   
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                        <img src="https://media-exp2.licdn.com/dms/image/C5603AQHrCA8AuuNVZA/profile-displayphoto-shrink_800_800/0/1590102303994?e=1663200000&v=beta&t=D8DjDmkNIIclLwQCmg-IGStWyQGuVE0tXRsYAVjChuk" class="img-fluid" alt="logo">
                        </div>
                        <div class="footer-text">
                            <p>A Full Stack Developer specialised in Javascript technologies and trained across MEAN stack development (MongoDB, ExpressJS, Angular JS and NodeJS). 

                            </p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow Me</span>
                            <a href="https://www.linkedin.com/in/niharrika-shree-rao-416502110/"><i class="fa fa-linkedin-square" id="link"></i></a>
                       
                            <a href="https://hangouts.google.com/?authuser=1"><i class="fa fa-google-plus" id = "g"></i></a> 
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">portfolio</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Expert Team</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Latest News</a></li>
                        </ul>
                    </div>
                </div> -->
                 <div class="col-xl-4 col-lg-4 col-md-6 mb-50"> 
                    
                     <div class="footer-widget">
                        
                        <div class="footer-widget-heading">
                            &nbsp;&nbsp;
                            <div class="single-cta">
                            <i class="fa fa-map-marker"></i>
                        <div class="cta-text">
                            <h4>Location</h4>
                            <span>Chennai Tamilnadu, India</span>
                        </div>
                        </div>
                        </div> <br> <br>
                        <div class="footer-widget-heading">
                            <div class="single-cta">
                            <i class= "fa fa-phone"></i>
                        <div class="cta-text">
                            <h4>Phone</h4>
                            <span>+91-9043104119</span>
                        </div>
                        </div>
                        </div> <br> <br>
                        <div class="footer-widget-heading">
                            <div class="single-cta">
                            <i class="fa fa-envelope"></i>
                        <div class="cta-text">
                            <h4>Mail</h4>
                            <span>niharrikashreerao@gmail.com</span>
                        </div>
                        </div>
                        </div>
                    </div>
                    </div>
                 <!-- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -->
                <!-- <div class="footer-cta pt-5 pb-5"> -->
                    <!-- <div class="row"> -->
                        <!-- <div class="col">
                            <div class="single-cta">
                                <i class="fa fa-map-marker" id="location"></i>
                                <div class="cta-text" id = "loctext">
                                  <h4>Location</h4>
                                    <span class = "loc">Chennai, Tamilnadu, India</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="single-cta">
                                <i class="fa fa-phone"></i>
                                <div class="cta-text">
                                    <h4>Call us</h4>
                                    <span>+91-9043104119</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="single-cta">
                                <i class="fa fa-envelope"></i>
                                <div class="cta-text">
                                    <h4>Mail us</h4>
                                    <span>niharrikashreerao <br>@gmail.com</span>
                                </div>
                            </div> -->
                        <!-- </div> -->
                    
               
            </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2020, All Right Reserved <a href="https://niharrika.netlify.app/">Niharrika</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
