<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://thumbs.gfycat.com/DamagedImportantAmurratsnake-size_restricted.gif" class="d-block w-100"
                height="576" alt="...">
        </div>
    </div>
</div>
<div class="jumbotron">
    <div id = "about" class="container text-center">
        <h1 class="display-4">About Me</h1> <br>
        <p class="lead">I am a Full Stack Developer specialised in Javascript technologies and trained across MEARN
            stack development (MongoDB, ExpressJS, Angular JS, React JS and NodeJS). </p>
        <hr class="my-4">
    </div>
    <br> <br>
    <div class="container">
    
            <div class="media-body">
                <div class="container">
                    <div class="row">
                        <div
                            class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start">
                        </div>
                        <div class="content pl-lg-4 d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-lg-7">
                                    <br>
                                    <div class="container">
                                        <ul>
                                            <li>
                                                <p class="lead"> <strong>Name:</strong> Niharrika Shree Rao
                                            </li>

                                            <li>
                                                <p class="lead"> <strong>Email:</strong> niharrikashreerao@gmail.com
                                                </p>
                                            </li>
                                            <li>
                                                <p class="lead"> <strong>City:</strong> Chennai, TN, India </p>
                                            </li>
                                        </ul>
                                        <h1 class="display-4">My Skills: </h1> <br>
                                        <ul>
                                            <li>
                                                <p class="lead"> HTML/CSS/Javascript
                                            </li>

                                            <li>
                                                <p class="lead"> Python </p>
                                            </li>
                                            <li>
                                                <p class="lead"> AngularJS </p>
                                            </li>
                                            <li>
                                                <p class="lead"> ReactJS
                                            </li>
                                            <li>
                                                <p class="lead"> NodeJS
                                            </li>
                                            <li>
                                                <p class="lead"> MongoDB & MySQL
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <br>
                                    <ul>
                                        <li>
                                            <p class="lead"> <strong>Education:</strong> Bachelors in Information
                                                Technology 2011 - 2015</p>
                                        </li>

                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div id = "resume" class="container text-left">
            <br>
            <h1 class="display-4">Experience: </h1> <br>

            <p class="lead"> <strong>DIGITAL CONTENT ASSOCIATE/AMAZON
                    Mar’19 – Feb’20 </strong>
            </p>
            <ul>
                <p class="lead">
                    <li>Joined Amazon Prime Video in the month of March 2019.</li>
                </p>
                <p class="lead">
                    <li>Worked on creating offers, approving offers and on quality check of amazon prime videos.</li>
                </p>
                <p class="lead">
                    <li>Worked on an automation project using java selenium and that made a time save on creating offers
                        as a bulk using a bulk delivery tool.</li>
                </p>
            </ul>
            <p class="lead"> <strong>DATA ASSOCIATE/AMAZON
                    Dec’15 - May’18 </strong>
            </p>
            <ul>
                <p class="lead">
                    <li>Joined Alexa Data Services in the month of December 2015, cross skilled and ramped up across all
                        verticals.</li>
                </p>
                <p class="lead">
                    <li>Provided 100% Quality and Productivity - Received First Among Equals Award.</li>
                </p>
                <p class="lead">
                    <li>Structured development plans with the Operations leaders to pilot, test new solutions and
                        implement across the Operations Organization at country/cross-country and cross regional level
                    </li>
                </p>
                <p class="lead">
                    <li>Worked close with the device (for instance: the device behavior, device testing, the cloud
                        result) to discover the loopholes that resulted in an inadequate accuracy</li>
                </p>
                <p class="lead">
                    <li>Audit the device behavior on a regular basis to check if it is at par with the market
                        requirements and the customer prerequisite.</li>
                </p>
                <p class="lead">
                    <li>Contributed to process improvements on a regular basis to reduce the average handling time to 4
                        from 20 percent.</li>
                </p>
            </ul>

        </div>
        <div class="jumbotron">
            <div id="projects" class="container text-center">
                <h1 class="display-4">My Projects:</h1> <br>
                <p class="lead"> <strong>URL Shortener (MEAN): </strong> </p>
                 
                <p class="lead"> Inspired by Bitly, I created a simple and fast url shortener that allows user to reduce
                    long links into a shortened url.
                    Kindly have a look at my project in the link below: </p>
                    <p> <a href="https://5ea76cb6dfaaa7000613c654--hopeful-dijkstra-41ea86.netlify.app"> URL Shortener</a></p>
                <p class="lead"> <strong>Photography Shopping Website/Blog (MEAN): </strong> </p>
                
                <p class="lead"> A simple shopping webpage that showcases a photography blog which performs CRUD
                    operations.
                    Kindly have a look at my project in the below link:
                    <p> <a href="https://vigorous-villani-cc7b5b.netlify.app/"> Photography Blog</a> </p>
                
                <hr class="my-4">
            </div>
           
                <div id = "contact" class="container text-center">
                    <h1 class="display-4">Contact Me: </h1> <br>
                    <button type="button" class="btn btn-email"><i class="fa fa-envelope left"></i> <a href = "https://www.linkedin.com/in/niharrika-shree-rao-416502110/">LinkedIn</a> </button> 
                    <button type="button" class="btn btn-email"><i class="fa fa-envelope left"></i> <a href = "https://github.com/Niharrika">GitHub</a> </button> 
                    <hr class="my-4">
                
        </div>
        
    </div>
</div>
<footer class="page-footer text-center font-small mt-4 wow fadeIn">
    <hr class="my-4">
    <div class="footer-copyright py-3">
      © 2020 Copyright: Created by Niharrika!
    </div>
      <!--/.Copyright-->
    
    </footer>
    <!--/.Footer-->