<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://thumbs.gfycat.com/DamagedImportantAmurratsnake-size_restricted.gif" class="d-block w-100"
                height="576" alt="...">
        </div>
    </div>
</div> -->
<div class = "container-fluid" id = "head">
<h1 class = "head">Hello World!</h1>
</div>
<div class="container-fluid" id="full">
    <div class="jumbotron" id="about">
        <div class="container text-center">
            <h1 class="text3">About Me</h1> <br>
            <p class="lead">Hi, this is Niharrika. I am a Full Stack Developer specialised in Javascript technologies and trained across MEAN
                stack development (MongoDB, ExpressJS, Angular JS and NodeJS). I currenly reside at Chennai, Tamilnadu, India. </p>
            <hr class="my-4">
        </div>
        <br>

        <div class="container px-lg-5">
            <div class="row mx-lg-n5">
                <div class="col py-3 px-lg-5">

                    <p class="lead"><strong>Name: </strong> Niharrika Shree Rao</p>
                    <p class="lead"><strong>E-mail: </strong> niharrikashreerao<br>@gmail.com</p>
                    <p class="lead"><strong>City: </strong> Chennai, TN, India</p>
                </div>
                <div class="col py-3 px-lg-5">
                    <p class="lead"><strong>Education: </strong> Bachelors in Information Technology (2011 - 2015)</p>
                    <p class="lead"><strong>Freelance: </strong>Available </p>
                    <p class = "lead"><strong>Website: </strong> <a
                            href="https://niharrika.netlify.app/" style="color : olive"> <strong>View Here</strong></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron" id="resume">
        <div class="d-flex justify-content-center">
            <div class="wrapper">
                <div class="d-flex justify-content-center">
                    <h1 class="text3">My Skills</h1>
                </div>
                <br><br>

                <div class="skill">
                    <p class="lead">HTML/CSS</p>
                    <div class="skill-bar skill1 wow slideInLeft animated">
                        <span class="skill-count1">95%</span>
                    </div>
                    <p class="lead">JavaScript</p>
                    <div class="skill-bar skill2 wow slideInLeft animated">
                        <span class="skill-count2">90%</span>
                    </div>
                    <p class="lead">Python</p>
                    <div class="skill-bar skill3 wow slideInLeft animated">
                        <span class="skill-count3">93%</span>
                    </div>
                    <p class="lead">Angular JS</p>
                    <div class="skill-bar skill4 wow slideInLeft animated">
                        <span class="skill-count4">90%</span>
                    </div>
                    <p class="lead">Node JS</p>
                    <div class="skill-bar skill5 wow slideInLeft animated">
                        <span class="skill-count5">85%</span>
                    </div>
                    <p class="lead">MongoDB & SQL</p>
                    <div class="skill-bar skill6 wow slideInLeft animated">
                        <span class="skill-count6">95%</span>
                    </div>
                </div>
                <button class="button" [routerLink]=" ['/projects'] "> View my Projects</button>

            </div><!-- end of /.coloumn -->

        </div>
    </div>
    <div class="jumbotron">
        <div class="container text-left">

            <div class="d-flex justify-content-center">
                <h1 class="text3">Experience</h1>
            </div> <br> <br>
            <p class="lead"> <strong>DIGITAL CONTENT ASSOCIATE/AMAZON
                    Mar’19 – Feb’20 </strong>
            </p>
            <ul>
                <p class="lead">
                    <li>Joined Amazon Prime Video in the month of March 2019.</li>
                </p>
                <p class="lead">
                    <li>Worked on creating offers, approving offers and on quality check of amazon prime videos.</li>
                </p>
                <p class="lead">
                    <li>Worked on an automation project using java selenium and that made a time save on creating offers
                        as a bulk using a bulk delivery tool.</li>
                </p>
            </ul>
            <p class="lead"> <strong>DATA ASSOCIATE/AMAZON
                    Dec’15 - May’18 </strong>
            </p>
            <ul>
                <p class="lead">
                    <li>Joined Alexa Data Services in the month of December 2015, cross skilled and ramped up across all
                        verticals.</li>
                </p>
                <p class="lead">
                    <li>Provided 100% Quality and Productivity - Received First Among Equals Award.</li>
                </p>
                <p class="lead">
                    <li>Structured development plans with the Operations leaders to pilot, test new solutions and
                        implement across the Operations Organization at country/cross-country and cross regional level
                    </li>
                </p>
                <p class="lead">
                    <li>Worked close with the device (for instance: the device behavior, device testing, the cloud
                        result) to discover the loopholes that resulted in an inadequate accuracy</li>
                </p>
                <p class="lead">
                    <li>Audit the device behavior on a regular basis to check if it is at par with the market
                        requirements and the customer prerequisite.</li>
                </p>
                <p class="lead">
                    <li>Contributed to process improvements on a regular basis to reduce the average handling time to 4
                        from 20 percent.</li>
                </p>
            </ul>

        </div>
        <br> 
        
        <!-- <div class="jumbotron"  id="projects">
            <div class="d-flex justify-content-center">
                <h1 class="display-4">My Projects</h1>
            </div>
            <br> <br>
                <div class="container-fluid">
                    <div class = "container">
                        
                    <div class = "row">
                        <div *ngFor = "let i of projects" class = "col">
                    <div class="containercard">
                         <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="Avatar" class="image">
                            <div class="middle">
                              <div class="text">{{i.name}}</div>
                              <div class="text1"><a href = "i.link" style="color:white">View</a></div>
                            </div>
                            
                      </div>
                    </div>
                               </div>                       
                    </div>
                </div>
                </div> -->
        <hr class="my-4" id="contact">
        <div class="container text-center">
            <h1 class="text3">Contact Me</h1> <br>
            <button class="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample">Say Hello!</button>
            </div>
            <hr class="my-4">
            <div class="collapse" id="collapseExample">
                <div class = "d-flex justify-content-center">
                <div class="container-fluid">
                    <div class="card card-body">
                        <div class="jumbotron">
                            <div class = "d-flex justify-content-center">
                            <p style="font-family :Trebuchet MS" > <strong>Have a question or want to connect? <br> Shoot up by
                                    filling out the form below. Let's catch up! </strong>
                            </p>
                            </div>
                            <div class="wrap">
                                <form>
                                    <div class="field">
                                        <input type="text" id="name" name="name"  placeholder="Who are you?" autofocus />
                                        <label for="name">Name</label>
                                    </div>
                                    <div class="field">
                                        <input type="text" id="email" name="email" placeholder="example@domain.com" />
                                        <label for="email">E-Mail</label>
                                    </div>
                                    <div class="field">
                                        <textarea id="msg" rows="4" name="msg" placeholder="You message..."></textarea>
                                        <label for="msg">Message</label>
                                    </div>
                                    <button class="button" type="submit" value="Send"> Send</button>
                                
                                </form>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">
        </div>
    </div>
    </div>